<div class="accordion-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Informationen zur User Story 1 - "Echtzeit Eingangskontrolle"
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Als Veranstalter:in einer Organisation möchte ich kommende und gehende Besucher:innen bei allen Ein-/Ausgängen
        in Echtzeit erfassen, sodass diese den Veranstaltungsort nur in kontrollierter Weise betreten können.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Informationen zur User Story 2 - "Fotoverwaltung"
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Als Nutzer:in möchte ich meine Fotos hochladen können, sodass diese an einem zentralen Ort gespeichert sind und
        man jederzeit daraufzugreifen kann.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
