<div class="column-view">
  <app-attendee-column
    [header]="defaultHeader"
    [explanation]="defaultExplanation"
    [buttonText]="defaultButton"
    [observable]="defaultObservable"
  ></app-attendee-column>

  <app-attendee-column
    [header]="enteredHeader"
    [explanation]="enteredExplanation"
    [buttonText]="enteredButton"
    [observable]="enteredObservable"
  ></app-attendee-column>

  <app-attendee-column
    [header]="exitedHeader"
    [explanation]="exitedExplanation"
    [buttonText]="exitedButton"
    [observable]="exitedObservable"
  ></app-attendee-column>
</div>
