<div class="column-view">
  <app-attendee-column
    [tableId]="defaultTableId"
    [eventId]="eventId"
    [header]="defaultHeader"
    [explanation]="defaultExplanation"
    [buttonText]="defaultButton"
  ></app-attendee-column>

  <app-attendee-column
    [tableId]="enteredTableId"
    [eventId]="eventId"
    [header]="enteredHeader"
    [explanation]="enteredExplanation"
    [buttonText]="enteredButton"
  ></app-attendee-column>

  <app-attendee-column
    [tableId]="exitedTableId"
    [eventId]="eventId"
    [header]="exitedHeader"
    [explanation]="exitedExplanation"
    [buttonText]="exitedButton"
  ></app-attendee-column>
</div>
